
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*
{
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

ul {
    margin: 0 10px;
}

.prediction{
    display: inline-block;
}

.header{

position: center
}


.footer-copyright{
    position: center;
    align-items: center;

}
.row{
    justify-content: center;
    align-items: center;
    margin: auto;
    position: center;
}
.f_div{
    alignment: center;
    width: 50%;
    margin-left: 250px;
}